_site
.sass-cache
.jekyll-metadata
.Rproj.user
.RData
.Rhistory*
*.DS_Store
"Icon\r"
*Roster.pdf
roster.html
teaching/soc301-f2016/roster_files/*
*2016F.csv
*2015.csv
.DS_Store
*/NBA OVER.docx
*/*.parquet
*/*.sqlite
*/all_chunks.rds
nba-over-under-2024-2025/rosters/playoffs_1990s/notes.xlsx
nba-over-under-2024-2025/rosters/playoffs_1990s/~$notes.xlsx
nba-over-under-2024-2025/rosters/playoffs_1990s/picks_for_phil.csv
requirements.txt
/.quarto/
