beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
nba_api==1.6.1
numpy>=1.23
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
tzdata==2024.2
urllib3==2.2.3
wheel==0.45.1
