name: build-nba-webpage

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - .github/workflows/nba-over-under.yaml

jobs:
  check-date:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.date_check.outputs.should_run }}
    steps:
      - id: date_check
        run: |
          CURRENT_DATE=$(date -u +%Y-%m-%d)
          CUTOFF_DATE="2026-04-15"
          if [[ "$CURRENT_DATE" < "$CUTOFF_DATE" || "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

  build-nba-webpage:
    runs-on: macos-15
    name: macOS 15
    needs: check-date
    if: ${{ needs.check-date.outputs.should_run == 'true' }}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup macOS environment
        run: |
          brew --prefix gettext
          mkdir -p ~/.R
          echo "CPPFLAGS=-I$(brew --prefix gettext)/include" > ~/.R/Makevars
          echo "LDFLAGS=-L$(brew --prefix gettext)/lib" >> ~/.R/Makevars
          brew link --force gettext

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          extra-packages: |
            any::rcmdcheck
            any::remotes
            any::reticulate
            any::sessioninfo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache Python packages
        uses: actions/cache@v4
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-pandas-nba_api
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup Python virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install pandas nba_api
          echo "RETICULATE_PYTHON=$(pwd)/venv/bin/python" >> $GITHUB_ENV

      - name: Build webpage
        run: |
          echo "Sys.setenv(RETICULATE_PYTHON = '$(pwd)/venv/bin/python')" > .Renviron
          Rscript nba-over-under-2025-2026/make_plot_html.R

      - name: Push changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add -A
          git commit -m "GitHub Actions NBA page build" || echo "No changes to commit"
          git push origin master

      - name: Session info
        run: |
          Rscript -e "sessioninfo::session_info()"